{% extends 'CatalogBundle::layout.html.twig' %}

{% block content %}
    <div class="single_page">
        <div class="content">
            {{ page.pageText|raw }}
        </div>
    </div>
{% endblock %}