<ul>
{% for category in categories %}
    <li><a href="{{ path('single_category', {'id' : category.id})}}">{{ category.name }}</a>
    {% if category.products is not empty %}
        <ul>
            {% for product in category.products %}
                <li><a href="{{ path('single_product', {'id': product.id}) }}">{{ product.name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    </li>
{% else %}
    <div>Nothing</div>
{% endfor %}
</ul>