@import "variables";
* {
  box-sizing: border-box;
}

.wrapper {
  margin: 0 auto;
  max-width: 968px;

  position: relative; /* для ширины */
}

body {
  font-size: 1rem;
  @include background-image(linear-gradient(to right, get-colour(background-gradient__start-end) 0%, get-colour(background-gradient__center) 50%, get-colour(background-gradient__start-end) 100%));
}

.main {
  position: relative;


}


.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

