<header>
    <div class="logo">
        {#<!--            <a href="/"><img src="http://placehold.it/80x50" alt="Логотип"></a>-->#}
        <a href="{{ path('homepage') }}"><img src='{{ asset("bundles/#{dir}/img/logo.svg") }}' alt="Логотип"></a>
    </div>
    <div class="contacts">
        <div class="phones">
            <i class="fa fa-mobile" aria-hidden="true"></i>
            <div class="phone">+375 17 280 83 53</div>
            <div class="phone">+375 29 667 42 11</div>
        </div>
        <div class="address">
            <div><i class="fa fa-envelope-o" aria-hidden="true"></i> mail@grapho.by</div>
            <div><i class="fa fa-home" aria-hidden="true"></i> г. Минск, ул. Толбухина 4</div>
        </div>
    </div>
</header>
