{% extends 'CatalogBundle::layout.html.twig' %}


{% block content %}
    <div class="panel clearfix">
        {% for product in products %}
            <div class="single-panel">
                <a href="{{ path('single_product', {'id':product.id}) }}">
                    {% if product.image is defined %}
                        <div class="image">
                            {% thumbnail product.image, 'big' %}
                        </div>
                        {#{% media product.image, 'small' %}#}
                        {#{% path product.image, 'reference' %}#}
                    {% endif %}
                    <span>{{ product.name }}</span>
                </a>
            </div>
        {% endfor %}
    </div>
    <div>
        {{ mainPage.pageText|raw }}
    </div>
{% endblock %}